<!DOCTYPE html>
<html lang="en">
<head><title>Index</title></head>

<h1>
    Index
</h1>

<a href="http://0.0.0.0:8000/src/?input=deposit"><button>Geld hochladen</button></a>
<a href="http://0.0.0.0:8000/src/?input=login"><button>Anmelden</button></a>
<a href="http://0.0.0.0:8000/src/?input=user"><button>Registrieren</button></a>
<a href="http://0.0.0.0:8000/src/Model/userTest.php"><button>Testing</button></a>

</html>