<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registrierung</title>
</head>
<body>
<h1>Registrierung</h1>

{% if error is defined %} {{error}} {% endif %} <br> <br>

<form action='?input=user' method='POST'>
    Name: <input type='text' name='username' {% if tempUserName is defined %}value='{{ tempUserName }}'{% endif %}><br>
    Email: <input type='text' name='mail' {% if tempMail is defined %}value='{{ tempMail }}'{% endif %}><br>
    Passwort: <input type='text' name='password' {% if tempPassword is defined %}value='{{ tempPassword }}'{% endif %}><br>
    <input type='submit' value='Registrieren' name="register">
</form>

</body>
</html>
